__pycache__
.pytest_cache
.venv
node_modules
eli.py
tests
static
.vscode
*_OLD.tsx
templates

dist
build
models
Icon.png
f17c2246a35e5bad01ef912e71a27aae.png

js-src/public/*
!js-src/public/Icon.png
!js-src/public/screenCapture_1.3.2.bat

resources
wheels
debugdumps